.env
alis-api/src/main/resources/firebase-service-account.json
config/.env
config/*.env
config/*.json
!config/.env.example
target/
*.log
target/
*.log
.vscode/
.idea/
*.DS_Store
__pycache__/
ALIS_DB.sql
